alpaca-cleaned/
tinyllama/
src/training/mlp-test/
src/training/arithmetic_dataset.json
new/training/log/
new/training/record/
new/training/log1/
new/training/log2/
new/training/log3multinem/
new/originparams.txt
new/sharedparams.txt
*.pth
